{% extends 'Base/index.html' %}

{% block body %}
    <!-- Page Title Start -->
    <div class="page-title term-title-bg" style="background-image: url(static/assets/index.jpg)">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 text-left">
                            <h2>اهداف شرکت</h2>
                        </div>

                        <div class="col-md-6 text-right">
                            <ul>
                                <li>
                                    <a href="{% url 'HomePage' %}">صفحه اصلی</a>
                                </li>
                                <li>اهداف شرکت</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title End -->

    <!-- Terms Section Start -->
    <div class="terms-section pt-100 pb-100">
        <div class="container">
            <div class="terms-text">
                <h3>اهداف شرکت فنی و مهندسی صدرا سازه اردکان</h3>

                <p>بازوی قدرت هر شرکتی مشتریان هستند و اهمیت بالایی دارند؛ بنابراین بهبود روابط با مشتریان و ارائه خدمات در جهت جلب رضایت و حفظ آن‌ها، اولویت‌ اصلی تمامی کارکنان و مدیریت شرکت فنی و مهندسی صدرا سازه اردکان می‌باشد.</p>

                <p>شرکت صدرا سازه با تمرکز بر کیفیت، نوآوری و رضایت مشتریان، به عنوان هدف اصلی خود تلاش می‌کند تا در صنعت پیمانکاری جایگاه برتری داشته باشد. اهداف ما شامل ارائه خدمات برتر و متنوع در زمینه  راهسازی، حمل و نقل صنعتی، معدنی و ساختمان، اجرای با دقت پروژه‌ها و استفاده از استانداردهای بین‌المللی و حفظ رضایت و اعتماد مشتریان است.</p>

                <p>هدف دیگر ما ایجاد یک فضای کاری متناسب با توانمندی‌ها و انگیزه کارکنان است. ما به ارزش توسعه حرفه‌ای و ایجاد فرصت‌های رشد برای تیم شرکت توجه می‌کنیم. همچنین، با بالا بردن سطح تخصص و دانش فنی تیم شرکت، سعی می‌کنیم به جایگاه رهبری در این صنعت برسیم. اهمیت دیگری که به آن توجه می‌کنیم، بهبود مداوم فرآیندهای عملیاتی و بهینه‌سازی استفاده از منابع به منظور افزایش کارآیی و اثربخشی است. با تمرکز بر این اهداف، ما به دنبال ایجاد یک شرکت پیشرو در صنعت هستیم.</p>
                <h4 style="font-size: 1rem">با ارائه خدمات منحصر به فرد، نظرات و نیازهای مشتریان شرکت را برآورده کرده‌ایم و سعی بر این داریم تا رابطه‌ای پایدار با مشتریان ایجاد کرده و در نتیجه به خدمات بهتر،  اعتماد بیشتر و بهبود عملکرد کسب‌وکار دست پیدا کنیم.</h4>
            </div>
        </div>
    </div>
    <!-- Terms Section End -->
{% endblock %}