{% extends 'Base/index.html' %}

{% block body %}
    <!-- Banner Section Start -->
    <div class="banner-section banner-style-two" style="height: 52.8rem; background-image: url({{ setting_web.banner.url }})">

        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="banner-text">
                        <h1 style="font-size: 23.2px; color: white">شرکت فنی و مهندسی <span style="color: #ffea00">صدرا سازه</span> اردکان</h1>
                        <p style="color: white">نوع تالع خود را انتخاب کنید</p>

                        <div class="theme-btn">
                            <a href="{% url 'Fall' %}" class="default-btn active">فال</a>
                            <a href="{% url 'Angizeshi' %}" class="default-btn">انگیزشی</a>
                            <a href="{% url 'Shear' %}" class="default-btn active">شعر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->
{% endblock %}