{% extends 'Base/index.html' %}

{% block title %}ورود{% endblock %}

{% block body %}
	 <!-- Page Title Start -->
        <div class="page-title signin-title-bg">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 text-left">
                                <h2>ورود کاربران</h2>
                            </div>

                            <div class="col-md-6 text-right">
                                <ul>
                                    <li>
                                        <a href="index1.html">صفحه اصلی</a>
                                    </li>
                                    <li>ورود کاربران</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Title End -->

        <!-- Sign In Section Start -->
        <div class="signin-section pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
                        <div class="signin-form" style="border-radius: 30px">
                            <i class='bx bx-user'></i>
                            <h3>ورود کاربران</h3>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور">
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
                                </div>
                                <button type="submit" class="signin-btn">وارد شوید</button>
                            </form>

                            <span>
                                حساب کاربری ندارید؟
                                <a href="{% url 'RegisterPage' %}">ثبت نام</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In Section End -->
{% endblock %}